$p-color-0: #004E64;
$p-color-1: #0080A3;
$p-color-2: #00303D;

$s-color-0: #0ACEFF;
$s-color-1: #00A5CF;
$s-color-2: #0083A3;

$s1-color-0: #ECE9EB;
$s1-color-1: #F6F4F5;
$s1-color-2: #D9D3D7;

$alert-color: #F55858;
$warning-color: #F2994A;
$success-color: #25AD32;

$white-color: #ffffff;
$gray-color: #626262;

$text: #181818;
$text-light: #3E3E3E;
$text-lightest: #707070;
$white-color: #ffffff;
